.form
  img.form__logo(src="./assets/images/Icon/logo.png" alt="logo")
  .form__back
    img.form__icon(src="./assets/images/Icon/back.png" alt="icon")
    | Cofnij
  .form__title Czekamy na Ciebie, wypełnij kwestionariusz
  .form__title.-secondTitle Dane kandydata
  form.form__form(action="" method="" enctype="multipart/form-data")
    img.form__icon.-people(src="./assets/images/Icon/people.png" alt="icon")
    .form__item
      .form__inputName Imię
      .form__required *
      input.form__input(type="text" id="name" name="name" required)
      span.form__tooltip(id="name") Wpisz imię
    .form__item
      .form__inputName Nazwisko
      .form__required *
      input.form__input(type="text" id="surname" name="surname" required)
      span.form__tooltip(id="surname") Wpisz nazwisko
    .form__item
      .form__inputName Data urodzenia
      input.form__input(type="text")
    .form__item
      .form__inputName Telefon komórkowy (+48 xxx xxx xxx)
      .form__required *
      input.form__input(type="number" id="phoneNumber"  placeholder="+48" name="phoneNumber" required)
      span.form__tooltip(id="phoneNumber") Wpisz poprawny numer telefonu
    .form__item
      .form__inputName Email
      .form__required *
      input.form__input(type="email" id="email"  placeholder="example@domain.com" name="email" required)
      span.form__tooltip(id="email") Wpisz poprawny adres email
    .form__item
      .form__inputName Adres
      input.form__input(type="text"  placeholder="Jana Kochanowskiego 23/3")
    .form__item
      .form__inputName Miasto
      .form__required *
      select(id="citys" name="city")
        option(value="") 
        option(value="Warszawa") Warszawa
        option(value="Olsztyn") Olsztyn
        option(value="Gliwice") Gliwice
      span.form__tooltip(id="city") Wybierz miasto
    .form__item
      .form__inputName Kraj
      .form__required *
      select(id="countrys" name="country")
        option(value="") 
        option(value="Polska") Polska
        option(value="Czechy") Czechy
      span.form__tooltip(id="country") Wybierz kraj
    .form__item
      .form__inputName Wykształcenie
      select(id="education")
        option(value="") 
        option(value="Podstawowe") Podstawowe
        option(value="Gimnazjalne") Gimnazjalne
        option(value="Zasadnicze zawodowe") Zasadnicze zawodowe
        option(value="Średnie") Średnie
        option(value="Wyższe") Wyższe
    .form__item
      .form__inputName Kwalifikacje zawodowe
      input.form__input(type="text"  placeholder="Opisz swoje doświadczenie i umiejętności, Jeżeli masz uprawnienia napisz o nich")
    .form__item
      .form__inputName Przebieg dotychczasowego zatrudnienia
      input.form__input(type="text"  id="experience" placeholder="Napisz gdzie pracowałeś(-aś) i co robiłeś(-aś). Tutaj możesz wpisać stanowiska i zakresy obowiązków")
    .form__title.-secondTitle Powiedz nam więcej o pracy swoich marzeń
    .form__item
      .form__inputName Jakiej pracy szukasz? (np. rodzaje stanowisk, branża, inne oczekiwania)
      .form__required *
      input.form__input(type="text" id="work"  placeholder="Tutaj możesz pisać bez ograniczeń :)" name="work" required)
      span.form__tooltip(id="work") Napisz czego szukasz!
    .form__text Administratorem Pani/Pana danych osobowych jest Personnel Service Sp. z o.o. ul. Bolesława Chrobrego 5, 11-400 Kętrzyn, NIP: 8943069469, REGON: 363064852
    .form__text.-redText Zapoznaj się z naszą polityką prywatności 
    .form__item.-agree
      .form__check
        input.form__checkbox(type="checkbox" id="all")
        label.form__label(id="all") 
      .form__inner
        .form__text Zaznacz wszystkie
    .form__item.-agree
      .form__check
        input.form__checkbox(type="checkbox" id="first" name="first")
        label.form__label(id="first") 
        span.form__tooltip.-inCheck(id="first") Potrzebujemy twojej zgody
      .form__inner
        .form__required *
        .form__text Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w powyższym formularzu w związku z procesem rekrutacji.
    .form__item.-agree
      .form__check
        input.form__checkbox(type="checkbox" id="second" name="second")
        label.form__label(id="second") 
        span.form__tooltip.-inCheck(id="second") Potrzebujemy twojej zgody
      .form__inner
        .form__required *
        .form__text Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w powyższym formularzu w celu otrzymania informacji o ofertach pracy związanych z rekrutacją. 
    button.form__button(type='submit') Wyślij
            